<!DOCTYPE html>
<html lang="en">
  <head>
    <%= htmlWebpackPlugin.tags.headTags %>

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <h1>This is what i want</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit
        adipisci quibusdam quasi nobis ullam nesciunt nemo saepe! Nam esse
        magni, voluptas totam repellendus obcaecati sint adipisci velit nisi
        eum!
      </p>
    </div>
  </body>
</html>
